.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #0c2340;
    color: white;
    padding: 20px;
}

.user-email {
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar li:hover {
    text-decoration: underline;
}

.courses-list {
    margin-left: 15px;
}

.content {
    flex: 1;
    padding: 20px;
    background: #f5f7fa;
}

/* Attendance alert styles */
.attendance-alert {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
}

/* Green for attendance > 75% */
.attendance-green {
    background-color: #4caf50;
    /* green */
    color: white;
}

/* Yellow for attendance 60% - 75% */
.attendance-yellow {
    background-color: #ffeb3b;
    /* yellow */
    color: black;
}

/* Red for attendance below 60% */
.attendance-red {
    background-color: #f44336;
    /* red */
    color: white;
}